@charset "UTF-8";
/* RESOLUTION SETTINGS START*/
/* FONTS =========================================*/
/* FONT COLORS =====================================*/
/* DESIGN COLORS =====================================*/
/* BORDER LINE COLORS ====================*/
/* BACKGROUND COLORS ====================*/
/* css =========================================*/
/* SHADOWS =========================================*/
html,
body {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #0E313A;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  width: 100%;
  padding: 0 15px;
}
@media only screen and (min-width: 630px) {
  .container {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1320px) {
  .container {
    padding: 0 10px;
  }
}

.center {
  flex: 1;
  margin-top: 54px;
}
@media only screen and (min-width: 630px) {
  .center {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .center {
    width: 100%;
  }
}

.ui-autocomplete {
  max-height: 120px;
  max-width: 440px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * * we use height instead, but this forces the menu to always be this tall
 * */
* html .ui-autocomplete {
  height: 100px;
}

input,
textarea,
select {
  background-color: #ffffff;
  padding: 5px 12px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  color: #00b8e3;
  font-size: 15px;
  font-weight: 400;
  min-height: 38px;
  height: 100%;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}
inputselect,
textareaselect,
selectselect {
  cursor: pointer;
}

input[type=email] {
  text-transform: lowercase;
}

textarea::placeholder,
input::placeholder,
input::-webkit-input-placeholder,
select:required:invalid,
option:disabled {
  color: #6E6E6E;
  font-weight: 300;
  font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #6CD8F1;
  box-shadow: 0 0 3px 1px #6CD8F1 inset;
  -webkit-box-shadow: 0 0 3px 1px #6CD8F1 inset;
  -moz-box-shadow: 0 0 3px 1px #6CD8F1 inset;
}

option {
  color: #00b8e3;
  font-size: 16px;
  font-weight: 400;
}

textarea {
  resize: vertical;
}

select,
input[type=date] {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=date] {
  background-color: #ffffff;
  padding: 6px 2px 6px 12px;
}
input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
  color: #6E6E6E;
  font-weight: 300;
  font-size: 15px;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 * */
input[type=date]:focus::before,
input[type=date]:valid::before {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=file],
input[type=url] {
  border: none;
}

input[type=checkbox]:checked,
input[type=checkbox]:not(:checked),
input[type=radio]:checked,
input[type=radio]:not(:checked) {
  display: none;
}

input[type=checkbox]:checked + label,
input[type=checkbox]:not(:checked) + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 27px;
  min-height: 20px;
  min-width: 20px;
}
input[type=checkbox]:checked + label span,
input[type=checkbox]:not(:checked) + label span {
  display: flex;
  min-height: 22px;
  align-items: center;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:not(:checked) + label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: -27px;
  border: 1px solid #dedddd;
  -webkit-box-shadow: 0 0 8px -1px #c7d0d9 inset;
  -moz-box-shadow: 0 0 8px -1px #c7d0d9 inset;
  box-shadow: 0 0 8px -1px #c7d0d9 inset;
}

input[type=checkbox]:disabled + label {
  cursor: default;
}

input[type=checkbox]:disabled + label:before {
  background-color: #f8f8f8;
  border: 1px solid #c7d0d9;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after {
  left: 5px;
  top: 6px;
  width: 9px;
  height: 4px;
  border-radius: 1px;
  border-left: 4px solid #00b8e3;
  border-bottom: 4px solid #00b8e3;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=radio]:checked + label,
input[type=radio]:not(:checked) + label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 27px;
  height: 100%;
}
input[type=radio]:checked + label span,
input[type=radio]:not(:checked) + label span {
  display: flex;
  min-height: 20px;
  max-height: inherit;
  align-items: center;
}

input[type=radio]:checked + label:before,
input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ffffff;
  margin-left: -27px;
  border: 1px solid #dedddd;
  -webkit-box-shadow: 0 0 8px -1px #c7d0d9 inset;
  -moz-box-shadow: 0 0 8px -1px #c7d0d9 inset;
  box-shadow: 0 0 8px -1px #c7d0d9 inset;
}

input[type=radio]:checked + label:after,
input[type=radio]:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #00b8e3;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after,
input[type=radio]:checked + label:after,
input[type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=checkbox]:not(:checked) + label:after,
input[type=radio]:not(:checked) + label:after {
  opacity: 0;
}

input[type=checkbox]:checked + label:after,
input[type=radio]:checked + label:after {
  opacity: 1;
}

.flex-element {
  display: flex;
}

.hide-element {
  display: none !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hidden {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.body-disable {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 6, 38, 0.5);
  overflow: auto;
}

.blue {
  color: #00b8e3;
}

.grey {
  color: #6E6E6E;
}

.green {
  color: #00EC3E;
}

.orange {
  color: #FF7F00;
}

.red {
  color: #fd5571;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.link {
  color: #00b8e3;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
}

.icon-left-open-big,
.icon-right-open-big,
.icon-down-open-big,
.icon-up-open-big {
  color: #6E6E6E;
}

.down-arr,
.up-arr {
  position: relative;
  right: -1px;
  font-size: 9px;
}
.down-arr.down-arr::before,
.up-arr.down-arr::before {
  content: "▼";
}
.down-arr.up-arr::before,
.up-arr.up-arr::before {
  content: "▲";
}

.pointer-down,
.pointer-up,
.pointer-left,
.pointer-right {
  display: inline-block;
}

.pointer-down::before {
  font-family: "fontello";
  font-weight: normal;
  font-style: normal;
  content: "";
}

.pointer-up::before {
  font-family: "fontello";
  font-weight: normal;
  font-style: normal;
  content: "";
}

.pointer-left::before {
  font-family: "fontello";
  font-weight: normal;
  font-style: normal;
  content: "";
}

.pointer-right::before {
  font-family: "fontello";
  font-weight: normal;
  font-style: normal;
  content: "";
}

.select-cover {
  position: relative;
  line-height: 35px;
}
.select-cover::before {
  position: absolute;
  content: "▼";
  font-size: 9px;
  right: 20px;
  top: 4px;
  height: 1px;
  width: 1px;
  color: #00b8e3;
}

.select-cover.opened::before {
  position: absolute;
  content: "▲";
}

.close-pop-up::before {
  font-family: "IcoFont";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: #6E6E6E;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.close-pop-up:hover::before {
  color: #00b8e3;
}

.star-estimation,
.star-estimation-empty,
.star-estimation-half {
  position: relative;
}
.star-estimation::before,
.star-estimation-empty::before,
.star-estimation-half::before {
  content: "";
  display: inline-block;
}

.star-estimation::before {
  background: url(../../images/icons/icon_star.svg) no-repeat;
}

.star-estimation-empty::before {
  background: url(../../images/icons/icon_star-empty.svg) no-repeat;
}

.star-estimation-half::before {
  background: url(../../images/icons/icon_star-half.svg) no-repeat;
}

.menu-list {
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  z-index: 199;
  min-width: 200px;
  padding-top: 5px;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(178, 178, 178, 0.16);
  -moz-box-shadow: 0 3px 6px rgba(178, 178, 178, 0.16);
  box-shadow: 0 3px 6px rgba(178, 178, 178, 0.16);
  cursor: default;
}
.menu-list div {
  display: block;
  border-bottom: 1px solid #f1f1f1;
}
.menu-list div:last-child {
  border: none;
  padding-bottom: 5px;
}
.menu-list div a,
.menu-list div span {
  display: block;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
}
.menu-list div a:hover,
.menu-list div span:hover {
  color: #00b8e3;
  text-decoration: underline;
}
.menu-list .close-pop-up {
  display: block;
  border: none;
  padding-top: 6px;
}
@media only screen and (min-width: 1000px) {
  .menu-list .close-pop-up {
    display: none;
  }
}
.menu-list.right {
  right: 0;
  top: 0;
}

.head-title {
  display: block;
  color: #00b8e3;
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 0.03em;
  padding: 12px 0;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px 1px #e6e9ed;
}
@media (min-width: 1280px) {
  .head-title {
    font-size: 26px;
  }
}

.btn-blue,
.btn-orange,
.btn-grey,
.btn-white {
  -moz-user-select: none;
  -webkit-user-select: none;
  min-width: 150px;
  max-width: 270px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  padding: 0px 23px;
  line-height: 34px;
}
.btn-blue a, .btn-blue span,
.btn-orange a,
.btn-orange span,
.btn-grey a,
.btn-grey span,
.btn-white a,
.btn-white span {
  font-size: 14.5px;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-blue:hover,
.btn-orange:hover,
.btn-grey:hover,
.btn-white:hover {
  transform: scale(0.99);
}

.btn-blue {
  color: #f9f9f9;
  -webkit-background-image: linear-gradient(to top, #07a6cc, #02c2ef);
  -moz-background-image: linear-gradient(to top, #07a6cc, #02c2ef);
  background-image: linear-gradient(to top, #07a6cc, #02c2ef);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.btn-blue:hover {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -webkit-background-image: linear-gradient(to top, #00b8e3, #02c2ef);
  -moz-background-image: linear-gradient(to top, #00b8e3, #02c2ef);
  background-image: linear-gradient(to top, #00b8e3, #02c2ef);
  -webkit-box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.3);
}

.btn-orange {
  color: #f9f9f9;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-background-image: linear-gradient(to bottom, #f97817, #db6f1d);
  -moz-background-image: linear-gradient(to bottom, #f97817, #db6f1d);
  background-image: linear-gradient(to bottom, #f97817, #db6f1d);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.btn-orange:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-background-image: linear-gradient(to bottom, #f58a38e8, #f97817);
  -moz-background-image: linear-gradient(to bottom, #f58a38e8, #f97817);
  background-image: linear-gradient(to bottom, #f58a38e8, #f97817);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3) inset;
}

.btn-grey {
  color: #6E6E6E;
  opacity: 0.8;
  text-shadow: 0 1px 1px white;
  background-color: #f9f9f9;
  -webkit-background-image: linear-gradient(to bottom, #f8f8f8, #e6e9ed);
  -moz-background-image: linear-gradient(to bottom, #f8f8f8, #e6e9ed);
  background-image: linear-gradient(to bottom, #f8f8f8, #e6e9ed);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn-grey:hover {
  -webkit-background-image: linear-gradient(to bottom, #e6e9ed, #f8f8f8);
  -moz-background-image: linear-gradient(to bottom, #e6e9ed, #f8f8f8);
  background-image: linear-gradient(to bottom, #e6e9ed, #f8f8f8);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
}

.form-comment {
  font-size: 14px;
  font-weight: 300;
  padding-top: 3px;
  line-height: 130%;
}

.form-red-outline {
  box-shadow: 0 0 5px 1px #fd5571 inset;
  -webkit-box-shadow: 0 0 5px 1px #fd5571 inset;
  -moz-box-shadow: 0 0 5px 1px #fd5571 inset;
}

/* HEADER START*/
.header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}
@media only screen and (min-width: 630px) {
  .header {
    position: unset;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 54px;
  padding: 0 15px;
}
@media only screen and (min-width: 630px) {
  .header__container {
    height: 65px;
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1320px) {
  .header__container {
    padding: 0 10px;
  }
}

.header__left {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo {
  background: url(../../images/logo/logo-mobile.svg) no-repeat center;
  background-size: contain;
  width: 33px;
  height: 33px;
}
@media only screen and (min-width: 630px) {
  .header__logo {
    background: url(../../images/logo/logo.svg) no-repeat center;
    background-size: contain;
    width: 130px;
    height: 40px;
    margin-left: 5px;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-right: 10px;
}

.header__user {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
}
.header__user .menu-list {
  margin-top: 20px;
  right: -5px;
  margin-right: 5px;
}
.header__user a {
  text-decoration: none;
}

.user__icon {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  font-size: 22px;
  text-align: center;
  color: #6E6E6E;
  transition: all 0.3s ease-in-out;
}
.user__icon:hover {
  color: #00b8e3;
  opacity: 1;
}

.user__avatar {
  width: 50px;
  height: 50px;
}
.user__avatar img {
  width: 100%;
  border-radius: 15%;
}

.hidden-menu {
  right: 6px;
  top: 6px;
}

/* HEADER FINISH */
/* FOOTER START */
.footer {
  z-index: 999;
  background-color: #f8f8f8;
  border-top: 1px solid #f1f1f1;
}

.footer-container {
  display: flex;
  width: unset;
  height: 100%;
  padding: 20px 15px;
}
@media (min-width: 630px) {
  .footer-container {
    padding: 30px;
  }
}
@media only screen and (min-width: 1320px) {
  .footer-container {
    width: 1280px;
  }
}

.footer-nav {
  color: #6E6E6E;
  opacity: 0.8;
}
@media only screen and (min-width: 630px) {
  .footer-nav {
    flex: 2;
    display: flex;
    width: 100%;
  }
}

@media only screen and (min-width: 630px) {
  .footer_nav__row {
    flex: 0.3;
  }
}

.footer-nav__item {
  display: block;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.footer-nav__item:hover, .footer-nav__item:focus, .footer-nav__item:active {
  text-decoration: underline;
  color: #00b8e3;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 630px) {
  .footer-right {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer__social-links {
  display: flex;
  font-size: 24px;
}
.footer__social-links a {
  margin-left: 30px;
}
.footer__social-links i {
  color: #6E6E6E;
  transition: all 0.2s ease-in-out;
}
.footer__social-links i:hover, .footer__social-links i:focus, .footer__social-links i:active {
  color: #00b8e3;
  opacity: 1;
}

.footer__copyright {
  color: #6E6E6E;
  font-size: 13px;
  font-weight: 300;
}

/* FOOTER FINISH */
